.select{
    width: fit-content;
    padding: 6px 24px 6px 14px;
    border: none;
    appearance: none;
    border-radius: 5px;
    font-family: inherit;
    
    background-color: transparent;
    background-image: url('../../../../public/search-arrow.svg');
    background-repeat: no-repeat;
    background-position: right 12px top 13px;
    position: relative;
    &::after{
        content: '';
        height:7px;
        width:8px;
        position: absolute;
        right: 12px;
        top: 12px;
        
    }
}