.galleryWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

.swiper {
  width: 100%;
}

.subSwiper {
}

.gallerySlide {
  > img {
    background-size: contain;
  }
}
