.firstRow {
  margin-top: 40px;

  margin-bottom: 30px;
}
.link {
  display: flex;
  gap: 20px;

  & > div {
    display: flex;
    flex-direction: column;
    padding: 15px 0 12px;
    min-width: 155px;
  }
}

.title {
  font-size: 20px;
  font-weight: 500;
}
.subInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.avaliable {
  padding-left: 20px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 9px;
    height: 9px;
    left: 0;
    top: 6px;
    border-radius: 50%;

    background-color: tomato;
  }

  &:has(> input[checked]) {
    &::after {
      background-color: #75d14a;
    }
  }
}

.gift {
  color: var(--Grey-600);
  font-size: 12px;
}

.quantityContainer {
  display: flex;
  align-items: center;

  & button {
    width: 25px;
    height: 25px;
    border-radius: 5px;

    color: var(--Grey-600);
    font-size: 16px;

    background-color: transparent;
    border: none;

    cursor: pointer;

    &:hover {
      background-color: rgba(
        $color: #000000,
        $alpha: 0.1
      );
    }
  }
}

.quantity {
  font-size: 16px;
  padding: 0 10px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.lastRow {
  margin-bottom: 40px;
}

.listsWrapper {
  grid-column: 1/-1;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
