.container {
  display: flex;
  flex-direction: column;
}

.oldPrice {
  color: var(--Grey-600);

  font-weight: 500;
  font-size: 12px;
}

.actualPrice {
  font-weight: 600;

  &.normal {
    font-size: 20px;
  }
  &.big {
    font-size: 25px;
  }
}
